DEBUG=true

WGSECRET=ZGVpeGFpdGhvb1BoZWlqM2F1Nm1vb3Nob2gyYWhtYWgK
HOST_IP=192.168.13.9
APT_PROXY_PORT=3142

WHOLENET=2a06:8187:fb00::/40 # this is the whole net-wide prefix
NODEPREFIX=2a06:8187:fbab:1::/64 # the prefix for infrastructure. This must be in $WHOLENET
CLIENTPREFIX=2a06:8187:fbab:2::/64 # the prefix in which the clients pick their address. This must be in $WHOLENET
NEXTNODE=2a06:8187:fbab:2::1 # the next-node address according to site.conf
OWNIP=fd9c:b2b9:17d8:0:61cc:7dd6:ca1c:8896 # assign this address to one of the docker hosts nic
